@import "node_modules/nord/src/sass/nord.scss";
@import "../../Containers.scss";

.errorContainer {
    @extend %vertical-container;

    border-radius: 0.5rem;
    background-color: $nord11;
    color: $nord0;
    height: 2rem;
    width: 16rem;
    font-size: medium;
    margin: 0.5rem;
    word-wrap: break-word;
}