@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";

.registerForm {
    @extend %vertical-container;

    background-color: $nord6;
    border-radius: 0.5rem;

    padding: 5rem;

    width: 25%;
    min-height: 40vh;
}