@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";

.loginForm {
    @extend %vertical-container;

    width: 30%;
    height: 60vh;

    background-color: $nord6;
    border-radius: 0.5rem;
}