@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";

.jobItem {
    @extend %horizontal-container;

    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: $nord8;

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 98%;
    height: 2rem;

    background-color: $nord5;
    color: $nord0;
}


.idLabel {
    @extend %horizontal-container;

    width: 30%;
    word-wrap: break-word;
    text-align: center;
}

.hrefContainer {
    width: 17%;

    text-align: center;
}

.downloadHref:link {
    color: $nord8;
}

.downloadHref:link {
    color: $nord14;
}