@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";


.headerContainer {
    @extend %horizontal-container;

    width: 98%;
    background-color: $nord4;
    color: $nord0;
    height: 3rem;
    margin-bottom: 0.5rem;

    border-radius: 0.5rem;
    border-style: solid;
    border-color: $nord1;
    border-width: 0.1rem;
}


%column-container {
    word-wrap: break-word;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.idHeaderContainer {
    @extend %column-container;

    width: 40%;
}

.statusHeaderContainer {
    @extend %column-container;

    width: 19%;
}