@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";

.jobForm {
    @extend %horizontal-container;

    background-color: $nord5;
}

.chooseImagesLabel {
    @extend %default-container;

    background-color: $nord8;
    color: $nord0;

    font-size: medium;
    margin: 1rem;
    height: 2rem;
    min-width: 10rem;
    border-radius: 0.5rem;
}

.chooseImagesLabel:hover {
    background-color: $nord9;
}

.filesContainer {
    @extend %horizontal-container;
    flex-wrap: wrap;

    width: 80%;
    margin: 0.2rem;
}

.fileInput {
    display: none;
}