@import "node_modules/nord/src/sass/nord.scss";
@import "../../Containers.scss";

.primaryButton {
    @extend %horizontal-container;

    border-radius: 0.5rem;
    background-color: $nord8;
    color: $nord0;
    height: 2rem;
    font-size: medium;
    margin: 0.5rem;

    min-width: 8rem;
}

.primaryButton:hover {
    background-color: $nord9;
}