@import "../../Containers.scss";
@import "node_modules/nord/src/sass/nord.scss";

.headerContainer {
    @extend %horizontal-container;

    width: 100%;

    background-color: $nord1;
    color: $nord5;

}

.logoutStyle {
    text-decoration: none;
    font-size: medium;
    font-style: normal;
    color: $nord6;
}

.logoutStyle:hover {
    color: $nord7;
    cursor: pointer;
}
