@import '../../Containers.scss';
@import "node_modules/nord/src/sass/nord.scss";

.homePage {
    @extend %vertical-container;

    width: 100%;
    height: 88vh;

    justify-content: flex-start;

    background-color: $nord5;
}